
<!DOCTYPE html>
<html>
<head>
  <title>ALYND</title>
<link href="/assets/application.css?body=1" media="all" rel="stylesheet" />
<link href="/assets/commitments.css?body=1" media="all" rel="stylesheet" />
<link href="/assets/jquery.ui.core.css?body=1" media="all" rel="stylesheet" />
<link href="/assets/jquery.ui.theme.css?body=1" media="all" rel="stylesheet" />
<link href="/assets/jquery.ui.accordion.css?body=1" media="all" rel="stylesheet" />
<link href="/assets/jquery.ui.menu.css?body=1" media="all" rel="stylesheet" />
<link href="/assets/jquery.ui.autocomplete.css?body=1" media="all" rel="stylesheet" />
<link href="/assets/jquery.ui.button.css?body=1" media="all" rel="stylesheet" />
<link href="/assets/jquery.ui.datepicker.css?body=1" media="all" rel="stylesheet" />
<link href="/assets/jquery.ui.resizable.css?body=1" media="all" rel="stylesheet" />
<link href="/assets/jquery.ui.dialog.css?body=1" media="all" rel="stylesheet" />
<link href="/assets/jquery.ui.progressbar.css?body=1" media="all" rel="stylesheet" />
<link href="/assets/jquery.ui.selectable.css?body=1" media="all" rel="stylesheet" />
<link href="/assets/jquery.ui.slider.css?body=1" media="all" rel="stylesheet" />
<link href="/assets/jquery.ui.spinner.css?body=1" media="all" rel="stylesheet" />
<link href="/assets/jquery.ui.tabs.css?body=1" media="all" rel="stylesheet" />
<link href="/assets/jquery.ui.tooltip.css?body=1" media="all" rel="stylesheet" />
<link href="/assets/jquery.ui.base.css?body=1" media="all" rel="stylesheet" />
<link href="/assets/jquery.ui.all.css?body=1" media="all" rel="stylesheet" />
<script src="/assets/jquery.js?body=1"></script>
<script src="/assets/jquery_ujs.js?body=1"></script>
<script src="/assets/turbolinks.js?body=1"></script>
<script src="/assets/jquery.ui.core.js?body=1"></script>
<script src="/assets/jquery.ui.widget.js?body=1"></script>
<script src="/assets/jquery.ui.accordion.js?body=1"></script>
<script src="/assets/jquery.ui.position.js?body=1"></script>
<script src="/assets/jquery.ui.menu.js?body=1"></script>
<script src="/assets/jquery.ui.autocomplete.js?body=1"></script>
<script src="/assets/jquery.ui.button.js?body=1"></script>
<script src="/assets/jquery.ui.datepicker.js?body=1"></script>
<script src="/assets/jquery.ui.mouse.js?body=1"></script>
<script src="/assets/jquery.ui.draggable.js?body=1"></script>
<script src="/assets/jquery.ui.resizable.js?body=1"></script>
<script src="/assets/jquery.ui.dialog.js?body=1"></script>
<script src="/assets/jquery.ui.droppable.js?body=1"></script>
<script src="/assets/jquery.ui.effect.js?body=1"></script>
<script src="/assets/jquery.ui.effect-blind.js?body=1"></script>
<script src="/assets/jquery.ui.effect-bounce.js?body=1"></script>
<script src="/assets/jquery.ui.effect-clip.js?body=1"></script>
<script src="/assets/jquery.ui.effect-drop.js?body=1"></script>
<script src="/assets/jquery.ui.effect-explode.js?body=1"></script>
<script src="/assets/jquery.ui.effect-fade.js?body=1"></script>
<script src="/assets/jquery.ui.effect-fold.js?body=1"></script>
<script src="/assets/jquery.ui.effect-highlight.js?body=1"></script>
<script src="/assets/jquery.ui.effect-pulsate.js?body=1"></script>
<script src="/assets/jquery.ui.effect-scale.js?body=1"></script>
<script src="/assets/jquery.ui.effect-shake.js?body=1"></script>
<script src="/assets/jquery.ui.effect-slide.js?body=1"></script>
<script src="/assets/jquery.ui.effect-transfer.js?body=1"></script>
<script src="/assets/jquery.ui.progressbar.js?body=1"></script>
<script src="/assets/jquery.ui.selectable.js?body=1"></script>
<script src="/assets/jquery.ui.slider.js?body=1"></script>
<script src="/assets/jquery.ui.sortable.js?body=1"></script>
<script src="/assets/jquery.ui.spinner.js?body=1"></script>
<script src="/assets/jquery.ui.tabs.js?body=1"></script>
<script src="/assets/jquery.ui.tooltip.js?body=1"></script>
<script src="/assets/jquery.ui.all.js?body=1"></script>
<script src="/assets/commitments.js?body=1"></script>
<script src="/assets/jquery.slimscroll.js?body=1"></script>
<script src="/assets/jquery.slimscroll.min.js?body=1"></script>
<script src="/assets/application.js?body=1"></script> 
</head>
<body>

<html>
<head>
    <title>ALYND</title>
        <style type="text/css">
        table, th, td
 		{
				caption-side: top;   padding: 0px; margin: 0px; border-spacing: 0px;
		}
    </style>
    
</head>
<body style="background-color: #F4F4F4; ">
	 <table style="width: 100%;">
        <tr>
            <td>
                <img alt=""  src="/assets/logo1.jpg" /> 
            </td>
            <td>
                &nbsp;
            </td>
            <td>
                &nbsp;
            </td>
        </tr>


    </table >
          <table  style="background-color: #E1E1E1;">
        <tr >
            <td valign="top" >
                <img alt=""  src="/assets/Request_commitment.jpg"/> 
            </td>
            <td  style="width:535px;background-image: url('/assets/Spacer.jpg');" valign="top" >
              
            </td>
             <td valign="top" >
                <img alt=""  src="/assets/MyCommitments_Selected.jpg" /> 
            </td>
        </tr>
    </table>
<table style="background-color: #E1E1E1;">
        <tr >
        	 <td >
              &nbsp;  &nbsp;  
            </td>
            <td >
            	
               <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
	
	<script type="text/javascript" src="/assets/jquery.slimscroll.min.js"></script>
	
    <title>Untitled Page</title>
    <style type="text/css">
        .style4
        {
            width: 322px;
        }
        .header{
        	
        }
      
        </style>
  <script type="text/javascript" >
$(function(){  
	  $('#scroll_div1').slimScroll({height: '650',   alwaysVisible: true});
	    $('#scroll_div2').slimScroll({height: '650',    alwaysVisible: true});
	      $('#scroll_div3').slimScroll({height: '650' ,    alwaysVisible: true});
	  });
	   
 //$(function() {    $( "#accordion" ).accordion({      collapsible: true    });  });
 
 $(".header").click(function () {
          alert($("#aa").val());
          $header = $(this);
          //getting the next element
          $content = $header.next();
          //alert($content);
          //open up the content needed - toggle the slide- if visible, slide up, if not slidedown.
          if($("#aa").val()==0)
          {
	          $content.slideToggle(500, function () {
	              //execute this after slideToggle is done
	              //change text of header based on visibility of content div
	              $header.text(function () {
	                  //change text based on condition
	                  // return $content.is(":visible") ? "Collapse" : "Expand";
	              });
	          });
	          $('#aa').val("1");
          }
          else
          {
          	$('#aa').val("0");
          }
          
     

      });
/*
function vv()
{
	
          $header = $("#header1");
          //getting the next element
          $content = $header.next();
          alert($content);
          //open up the content needed - toggle the slide- if visible, slide up, if not slidedown.
          $content.slideToggle(500, function () {
              //execute this after slideToggle is done
              //change text of header based on visibility of content div
              $header.text(function () {
                  //change text based on condition
                  // return $content.is(":visible") ? "Collapse" : "Expand";
              });
          });
          $('#aa').val("1");
     
        
}*/

       </script>
</head>
<body style="background-color: #F4F4F4;"> 
  <input id='aa' type="hidden" value="0">
<div style="border:3px solid;border-color: #D1D1D1; border-radius:3px;font-size: 14px; font-family: Arial, Helvetica, sans-serif">
<table  style="border-width: thin; border-color: #000000;background-color: #F4F4F4;border:0px solid; border-radius:3px; "  >
<tr><td style="background-color: #3366CC; color: #FFFFFF;border-top-left-radius:3px;height:25px;" class="style4" >&nbsp;  Commitments I have made 
	</td><td style="background-color: #3366CC; color: #FFFFFF;border-top-right-radius:3px"   valign="middle"  >&nbsp;&nbsp;&nbsp;&nbsp;
		&nbsp;&nbsp;&nbsp;
 Filter> </td></tr>

<tr >
<td  align=center class="style4" colspan=2 style="border-bottom-left-radius:3px;border-bottom-right-radius:8px" valign="top">
	<div  id="scroll_div1" style="width:600px ;height: 600px; overflow: auto;border-bottom-left-radius:3px"
		  valign="top" >
	<br>

   
   	

   	 <div  id="Header1" class="header"  align="left" style="cursor: default"><span >
   &nbsp;&nbsp;<B>
   	Overdue
   	</B>
  	<br />&nbsp;&nbsp;<img  src="/assets/line1.jpg" /> </span></div>
   <div >
  	
 
    <table style="width:90%; height: 50px; border:2px solid;border-radius:8px;font-size: 12px;border-color: #D1D1D1; font-family: Arial, Helvetica, sans-serif" >
        <tr >
        	              <td>
             &nbsp;  &nbsp;
                </td>
                      
            <td style="text-align: left;"> 
               <b> VG-07 </b> <br> Vineet to vishal   
               </td>
                             <td>
          &nbsp;  &nbsp;
                </td>
              <td>
                <img alt="" src=""/>
                </td>
                         <td>
              &nbsp;  &nbsp;
                </td>
                       <td>
              &nbsp;  &nbsp;
                </td>
          
        </tr>
    </table>

 
   
   	
 
    <table style="width:90%; height: 50px; border:2px solid;border-radius:8px;font-size: 12px;border-color: #D1D1D1; font-family: Arial, Helvetica, sans-serif" >
        <tr >
        	              <td>
             &nbsp;  &nbsp;
                </td>
                      
            <td style="text-align: left;"> 
               <b> VG-09 </b> <br> Vineet to vishal   
               </td>
                             <td>
          &nbsp;  &nbsp;
                </td>
              <td>
                <img alt="" src=""/>
                </td>
                         <td>
              &nbsp;  &nbsp;
                </td>
                       <td>
              &nbsp;  &nbsp;
                </td>
          
        </tr>
    </table>

 
   
 
    <table style="width:90%; height: 50px; border:2px solid;border-radius:8px;font-size: 12px;border-color: #D1D1D1; font-family: Arial, Helvetica, sans-serif" >
        <tr >
        	              <td>
             &nbsp;  &nbsp;
                </td>
                      
            <td style="text-align: left;"> 
               <b> VG-01 </b> <br> Vineet to vishal   
               </td>
                             <td>
          &nbsp;  &nbsp;
                </td>
              <td>
                <img alt="" src=""/>
                </td>
                         <td>
              &nbsp;  &nbsp;
                </td>
                       <td>
              &nbsp;  &nbsp;
                </td>
          
        </tr>
    </table>

 
   
   	
  	
  </div>
  	 <br>
   	 <div  id="Header1" class="header"  align="left" style="cursor: default"><span>
   &nbsp;&nbsp;<b>
   	Completed Today
   	</b>
  	<br />&nbsp;&nbsp;<img  src="/assets/line1.jpg" /> </span></div>
   <div >
 
    <table style="width:90%; height: 50px; border:2px solid;border-radius:8px;font-size: 12px;border-color: #D1D1D1; font-family: Arial, Helvetica, sans-serif" >
        <tr >
        	              <td>
             &nbsp;  &nbsp;
                </td>
                      
            <td style="text-align: left;"> 
               <b> VG-18 </b> <br> vineet to vishal  
               </td>
                             <td>
          &nbsp;  &nbsp;
                </td>
              <td>
                <img alt="" src=""/>
                </td>
                         <td>
              &nbsp;  &nbsp;
                </td>
                       <td>
              &nbsp;  &nbsp;
                </td>
          
        </tr>
    </table>

 
   
 
    <table style="width:90%; height: 50px; border:2px solid;border-radius:8px;font-size: 12px;border-color: #D1D1D1; font-family: Arial, Helvetica, sans-serif" >
        <tr >
        	              <td>
             &nbsp;  &nbsp;
                </td>
                      
            <td style="text-align: left;"> 
               <b> VG-02 </b> <br> Vineet to vishal   
               </td>
                             <td>
          &nbsp;  &nbsp;
                </td>
              <td>
                <img alt="" src=""/>
                </td>
                         <td>
              &nbsp;  &nbsp;
                </td>
                       <td>
              &nbsp;  &nbsp;
                </td>
          
        </tr>
    </table>

 
   
   	
  	 </div>
  	    	 <br>
   	 <div  id="Header1" class="header"  align="left" style="cursor: default"><span>
   &nbsp;&nbsp;<b>Due Tomorrow</b>
  	<br />&nbsp;&nbsp;<img  src="/assets/line1.jpg" /> </span></div>
   <div >
 
    <table style="width:90%; height: 50px; border:2px solid;border-radius:8px;font-size: 12px;border-color: #D1D1D1; font-family: Arial, Helvetica, sans-serif" >
        <tr >
        	              <td>
             &nbsp;  &nbsp;
                </td>
                      
            <td style="text-align: left;"> 
               <b> VG-08 </b> <br> Vineet to vishal   
               </td>
                             <td>
          &nbsp;  &nbsp;
                </td>
              <td>
                <img alt="" src=""/>
                </td>
                         <td>
              &nbsp;  &nbsp;
                </td>
                       <td>
              &nbsp;  &nbsp;
                </td>
          
        </tr>
    </table>

 
   
 
    <table style="width:90%; height: 50px; border:2px solid;border-radius:8px;font-size: 12px;border-color: #D1D1D1; font-family: Arial, Helvetica, sans-serif" >
        <tr >
        	              <td>
             &nbsp;  &nbsp;
                </td>
                      
            <td style="text-align: left;"> 
               <b> VG-03 </b> <br> Vineet to vishal   
               </td>
                             <td>
          &nbsp;  &nbsp;
                </td>
              <td>
                <img alt="" src=""/>
                </td>
                         <td>
              &nbsp;  &nbsp;
                </td>
                       <td>
              &nbsp;  &nbsp;
                </td>
          
        </tr>
    </table>

 
   
   	
 </div>
  <br>
   	 <div  id="Header1" class="header"  align="left" style="cursor: default"><span>
   &nbsp;&nbsp;<b>Due Monday</b>
  	<br />&nbsp;&nbsp;<img  src="/assets/line1.jpg" /> </span></div>
   <div >
 
 
    <table style="width:90%; height: 50px; border:2px solid;border-radius:8px;font-size: 12px;border-color: #D1D1D1; font-family: Arial, Helvetica, sans-serif" >
        <tr >
        	              <td>
             &nbsp;  &nbsp;
                </td>
                      
            <td style="text-align: left;"> 
               <b> VG-04 </b> <br> Vineet to vishal   
               </td>
                             <td>
          &nbsp;  &nbsp;
                </td>
              <td>
                <img alt="" src=""/>
                </td>
                         <td>
              &nbsp;  &nbsp;
                </td>
                       <td>
              &nbsp;  &nbsp;
                </td>
          
        </tr>
    </table>

 
   
   	
  </div>
   <br>
   	 <div  id="Header1" class="header"  align="left" style="cursor: default"><span>
   &nbsp;&nbsp;<b>Due Tuesday/onwards</b>
  	<br />&nbsp;&nbsp;<img  src="/assets/line1.jpg" /> </span></div>
     	
   <div >
 
    <table style="width:90%; height: 50px; border:2px solid;border-radius:8px;font-size: 12px;border-color: #D1D1D1; font-family: Arial, Helvetica, sans-serif" >
        <tr >
        	              <td>
             &nbsp;  &nbsp;
                </td>
                      
            <td style="text-align: left;"> 
               <b> VG-05 </b> <br> Vineet to vishal   
               </td>
                             <td>
          &nbsp;  &nbsp;
                </td>
              <td>
                <img alt="" src=""/>
                </td>
                         <td>
              &nbsp;  &nbsp;
                </td>
                       <td>
              &nbsp;  &nbsp;
                </td>
          
        </tr>
    </table>

 
   
 
    <table style="width:90%; height: 50px; border:2px solid;border-radius:8px;font-size: 12px;border-color: #D1D1D1; font-family: Arial, Helvetica, sans-serif" >
        <tr >
        	              <td>
             &nbsp;  &nbsp;
                </td>
                      
            <td style="text-align: left;"> 
               <b> VG-06 </b> <br> Vineet to vishal   
               </td>
                             <td>
          &nbsp;  &nbsp;
                </td>
              <td>
                <img alt="" src=""/>
                </td>
                         <td>
              &nbsp;  &nbsp;
                </td>
                       <td>
              &nbsp;  &nbsp;
                </td>
          
        </tr>
    </table>

 
  </div>

  <br />
</div>
    </td></tr>
 
</table>
</div>
</html>



            </td>
              <td >
              &nbsp;    &nbsp;   
            </td>
             <td  >
                  <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
	
	<script type="text/javascript" src="/assets/jquery.slimscroll.min.js"></script>
	
    <title>Untitled Page</title>
    <style type="text/css">
        .style4
        {
            width: 322px;
        }
        .header{
        	
        }
      
        </style>
  <script type="text/javascript" >
$(function(){  
	  $('#scroll_div1').slimScroll({height: '650',   alwaysVisible: true});
	    $('#scroll_div2').slimScroll({height: '650',    alwaysVisible: true});
	      $('#scroll_div3').slimScroll({height: '650' ,    alwaysVisible: true});
	  });
	   
 //$(function() {    $( "#accordion" ).accordion({      collapsible: true    });  });
 
 $(".header").click(function () {
          alert($("#aa").val());
          $header = $(this);
          //getting the next element
          $content = $header.next();
          //alert($content);
          //open up the content needed - toggle the slide- if visible, slide up, if not slidedown.
          if($("#aa").val()==0)
          {
	          $content.slideToggle(500, function () {
	              //execute this after slideToggle is done
	              //change text of header based on visibility of content div
	              $header.text(function () {
	                  //change text based on condition
	                  // return $content.is(":visible") ? "Collapse" : "Expand";
	              });
	          });
	          $('#aa').val("1");
          }
          else
          {
          	$('#aa').val("0");
          }
          
     

      });
/*
function vv()
{
	
          $header = $("#header1");
          //getting the next element
          $content = $header.next();
          alert($content);
          //open up the content needed - toggle the slide- if visible, slide up, if not slidedown.
          $content.slideToggle(500, function () {
              //execute this after slideToggle is done
              //change text of header based on visibility of content div
              $header.text(function () {
                  //change text based on condition
                  // return $content.is(":visible") ? "Collapse" : "Expand";
              });
          });
          $('#aa').val("1");
     
        
}*/

       </script>
</head>
<body style="background-color: #F4F4F4;"> 
  <input id='aa' type="hidden" value="0">
<div style="border:3px solid;border-color: #D1D1D1; border-radius:3px;font-size: 14px; font-family: Arial, Helvetica, sans-serif">
<table  style="border-width: thin; border-color: #000000;background-color: #F4F4F4;border:0px solid; border-radius:3px; "  >
<tr><td style="background-color: #3366CC; color: #FFFFFF;border-top-left-radius:3px;height:25px;" class="style4" >&nbsp;  Commitments made to me 
	</td><td style="background-color: #3366CC; color: #FFFFFF;border-top-right-radius:3px"   valign="middle"  >&nbsp;&nbsp;&nbsp;&nbsp;
		&nbsp;&nbsp;&nbsp;
 Filter> </td></tr>

<tr >
<td  align=center class="style4" colspan=2 style="border-bottom-left-radius:3px;border-bottom-right-radius:8px" valign="top">
	<div  id="scroll_div2" style="width:600px ;height: 600px; overflow: auto;border-bottom-left-radius:3px"
		  valign="top" >
	<br>

   
   	

   	 <div  id="Header1" class="header"  align="left" style="cursor: default"><span >
   &nbsp;&nbsp;<B>
   	Overdue
   	</B>
  	<br />&nbsp;&nbsp;<img  src="/assets/line1.jpg" /> </span></div>
   <div >
  	
 
    <table style="width:90%; height: 50px; border:2px solid;border-radius:8px;font-size: 12px;border-color: #D1D1D1; font-family: Arial, Helvetica, sans-serif" >
        <tr >
        	              <td>
             &nbsp;  &nbsp;
                </td>
                      
            <td style="text-align: left;"> 
               <b> VG-10 </b> <br> vishal to vineet   
               </td>
                             <td>
          &nbsp;  &nbsp;
                </td>
              <td>
                <img alt="" src=""/>
                </td>
                         <td>
              &nbsp;  &nbsp;
                </td>
                       <td>
              &nbsp;  &nbsp;
                </td>
          
        </tr>
    </table>

 
   
 
    <table style="width:90%; height: 50px; border:2px solid;border-radius:8px;font-size: 12px;border-color: #D1D1D1; font-family: Arial, Helvetica, sans-serif" >
        <tr >
        	              <td>
             &nbsp;  &nbsp;
                </td>
                      
            <td style="text-align: left;"> 
               <b> VG-16 </b> <br> vineet to vishal  
               </td>
                             <td>
          &nbsp;  &nbsp;
                </td>
              <td>
                <img alt="" src=""/>
                </td>
                         <td>
              &nbsp;  &nbsp;
                </td>
                       <td>
              &nbsp;  &nbsp;
                </td>
          
        </tr>
    </table>

 
   
   	
  	
  </div>
  	 <br>
   	 <div  id="Header1" class="header"  align="left" style="cursor: default"><span>
   &nbsp;&nbsp;<b>
   	Completed Today
   	</b>
  	<br />&nbsp;&nbsp;<img  src="/assets/line1.jpg" /> </span></div>
   <div >
 
    <table style="width:90%; height: 50px; border:2px solid;border-radius:8px;font-size: 12px;border-color: #D1D1D1; font-family: Arial, Helvetica, sans-serif" >
        <tr >
        	              <td>
             &nbsp;  &nbsp;
                </td>
                      
            <td style="text-align: left;"> 
               <b> VG-17 </b> <br> vineet to vishal  
               </td>
                             <td>
          &nbsp;  &nbsp;
                </td>
              <td>
                <img alt="" src=""/>
                </td>
                         <td>
              &nbsp;  &nbsp;
                </td>
                       <td>
              &nbsp;  &nbsp;
                </td>
          
        </tr>
    </table>

 
   
 
    <table style="width:90%; height: 50px; border:2px solid;border-radius:8px;font-size: 12px;border-color: #D1D1D1; font-family: Arial, Helvetica, sans-serif" >
        <tr >
        	              <td>
             &nbsp;  &nbsp;
                </td>
                      
            <td style="text-align: left;"> 
               <b> VG-11 </b> <br> vishal to vineet   
               </td>
                             <td>
          &nbsp;  &nbsp;
                </td>
              <td>
                <img alt="" src=""/>
                </td>
                         <td>
              &nbsp;  &nbsp;
                </td>
                       <td>
              &nbsp;  &nbsp;
                </td>
          
        </tr>
    </table>

 
   
   	
  	 </div>
  	    	 <br>
   	 <div  id="Header1" class="header"  align="left" style="cursor: default"><span>
   &nbsp;&nbsp;<b>Due Tomorrow</b>
  	<br />&nbsp;&nbsp;<img  src="/assets/line1.jpg" /> </span></div>
   <div >
 
    <table style="width:90%; height: 50px; border:2px solid;border-radius:8px;font-size: 12px;border-color: #D1D1D1; font-family: Arial, Helvetica, sans-serif" >
        <tr >
        	              <td>
             &nbsp;  &nbsp;
                </td>
                      
            <td style="text-align: left;"> 
               <b> VG-12 </b> <br> vishal to vineet   
               </td>
                             <td>
          &nbsp;  &nbsp;
                </td>
              <td>
                <img alt="" src=""/>
                </td>
                         <td>
              &nbsp;  &nbsp;
                </td>
                       <td>
              &nbsp;  &nbsp;
                </td>
          
        </tr>
    </table>

 
   
   	
 </div>
  <br>
   	 <div  id="Header1" class="header"  align="left" style="cursor: default"><span>
   &nbsp;&nbsp;<b>Due Monday</b>
  	<br />&nbsp;&nbsp;<img  src="/assets/line1.jpg" /> </span></div>
   <div >
 
 
    <table style="width:90%; height: 50px; border:2px solid;border-radius:8px;font-size: 12px;border-color: #D1D1D1; font-family: Arial, Helvetica, sans-serif" >
        <tr >
        	              <td>
             &nbsp;  &nbsp;
                </td>
                      
            <td style="text-align: left;"> 
               <b> VG-13 </b> <br> vishal to vineet   
               </td>
                             <td>
          &nbsp;  &nbsp;
                </td>
              <td>
                <img alt="" src=""/>
                </td>
                         <td>
              &nbsp;  &nbsp;
                </td>
                       <td>
              &nbsp;  &nbsp;
                </td>
          
        </tr>
    </table>

 
   
   	
  </div>
   <br>
   	 <div  id="Header1" class="header"  align="left" style="cursor: default"><span>
   &nbsp;&nbsp;<b>Due Tuesday/onwards</b>
  	<br />&nbsp;&nbsp;<img  src="/assets/line1.jpg" /> </span></div>
     	
   <div >
 
    <table style="width:90%; height: 50px; border:2px solid;border-radius:8px;font-size: 12px;border-color: #D1D1D1; font-family: Arial, Helvetica, sans-serif" >
        <tr >
        	              <td>
             &nbsp;  &nbsp;
                </td>
                      
            <td style="text-align: left;"> 
               <b> VG-14 </b> <br> vishal to vineet   
               </td>
                             <td>
          &nbsp;  &nbsp;
                </td>
              <td>
                <img alt="" src=""/>
                </td>
                         <td>
              &nbsp;  &nbsp;
                </td>
                       <td>
              &nbsp;  &nbsp;
                </td>
          
        </tr>
    </table>

 
   
 
    <table style="width:90%; height: 50px; border:2px solid;border-radius:8px;font-size: 12px;border-color: #D1D1D1; font-family: Arial, Helvetica, sans-serif" >
        <tr >
        	              <td>
             &nbsp;  &nbsp;
                </td>
                      
            <td style="text-align: left;"> 
               <b> VG-15 </b> <br> vishal to vineet   
               </td>
                             <td>
          &nbsp;  &nbsp;
                </td>
              <td>
                <img alt="" src=""/>
                </td>
                         <td>
              &nbsp;  &nbsp;
                </td>
                       <td>
              &nbsp;  &nbsp;
                </td>
          
        </tr>
    </table>

 
  </div>

  <br />
</div>
    </td></tr>
 
</table>
</div>
</html>



            </td>
              <td>
              &nbsp;    &nbsp;    
            </td>
            <td  >
                  <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
	
	<script type="text/javascript" src="/assets/jquery.slimscroll.min.js"></script>
	
    <title>Untitled Page</title>
    <style type="text/css">
        .style4
        {
            width: 322px;
        }
        .header{
        	
        }
      
        </style>
  <script type="text/javascript" >
$(function(){  
	  $('#scroll_div1').slimScroll({height: '650',   alwaysVisible: true});
	    $('#scroll_div2').slimScroll({height: '650',    alwaysVisible: true});
	      $('#scroll_div3').slimScroll({height: '650' ,    alwaysVisible: true});
	  });
	   
 //$(function() {    $( "#accordion" ).accordion({      collapsible: true    });  });
 
 $(".header").click(function () {
          alert($("#aa").val());
          $header = $(this);
          //getting the next element
          $content = $header.next();
          //alert($content);
          //open up the content needed - toggle the slide- if visible, slide up, if not slidedown.
          if($("#aa").val()==0)
          {
	          $content.slideToggle(500, function () {
	              //execute this after slideToggle is done
	              //change text of header based on visibility of content div
	              $header.text(function () {
	                  //change text based on condition
	                  // return $content.is(":visible") ? "Collapse" : "Expand";
	              });
	          });
	          $('#aa').val("1");
          }
          else
          {
          	$('#aa').val("0");
          }
          
     

      });
/*
function vv()
{
	
          $header = $("#header1");
          //getting the next element
          $content = $header.next();
          alert($content);
          //open up the content needed - toggle the slide- if visible, slide up, if not slidedown.
          $content.slideToggle(500, function () {
              //execute this after slideToggle is done
              //change text of header based on visibility of content div
              $header.text(function () {
                  //change text based on condition
                  // return $content.is(":visible") ? "Collapse" : "Expand";
              });
          });
          $('#aa').val("1");
     
        
}*/

       </script>
</head>
<body style="background-color: #F4F4F4;"> 
  <input id='aa' type="hidden" value="0">
<div style="border:3px solid;border-color: #D1D1D1; border-radius:3px;font-size: 14px; font-family: Arial, Helvetica, sans-serif">
<table  style="border-width: thin; border-color: #000000;background-color: #F4F4F4;border:0px solid; border-radius:3px; "  >
<tr><td style="background-color: #3366CC; color: #FFFFFF;border-top-left-radius:3px;height:25px;" class="style4" >&nbsp;  Completed Commitments 
	</td><td style="background-color: #3366CC; color: #FFFFFF;border-top-right-radius:3px"   valign="middle"  >&nbsp;&nbsp;&nbsp;&nbsp;
		&nbsp;&nbsp;&nbsp;
 Filter> </td></tr>

<tr >
<td  align=center class="style4" colspan=2 style="border-bottom-left-radius:3px;border-bottom-right-radius:8px" valign="top">
	<div  id="scroll_div3" style="width:600px ;height: 600px; overflow: auto;border-bottom-left-radius:3px"
		  valign="top" >
	<br>

   
   	

   	 <div  id="Header1" class="header"  align="left" style="cursor: default"><span >
   &nbsp;&nbsp;<B>
   	Completed Earlier
   	</B>
  	<br />&nbsp;&nbsp;<img  src="/assets/line1.jpg" /> </span></div>
   <div >
  	
 
    <table style="width:90%; height: 50px; border:2px solid;border-radius:8px;font-size: 12px;border-color: #D1D1D1; font-family: Arial, Helvetica, sans-serif" >
        <tr >
        	              <td>
             &nbsp;  &nbsp;
                </td>
                      
            <td style="text-align: left;"> 
               <b> VG-16 </b> <br> vineet to vishal  
               </td>
                             <td>
          &nbsp;  &nbsp;
                </td>
              <td>
                <img alt="" src=""/>
                </td>
                         <td>
              &nbsp;  &nbsp;
                </td>
                       <td>
              &nbsp;  &nbsp;
                </td>
          
        </tr>
    </table>

 
   
   	
  	
  </div>
  	 <br>
   	 <div  id="Header1" class="header"  align="left" style="cursor: default"><span>
   &nbsp;&nbsp;<b>
   	Completed Today
   	</b>
  	<br />&nbsp;&nbsp;<img  src="/assets/line1.jpg" /> </span></div>
   <div >
 
    <table style="width:90%; height: 50px; border:2px solid;border-radius:8px;font-size: 12px;border-color: #D1D1D1; font-family: Arial, Helvetica, sans-serif" >
        <tr >
        	              <td>
             &nbsp;  &nbsp;
                </td>
                      
            <td style="text-align: left;"> 
               <b> VG-17 </b> <br> vineet to vishal  
               </td>
                             <td>
          &nbsp;  &nbsp;
                </td>
              <td>
                <img alt="" src=""/>
                </td>
                         <td>
              &nbsp;  &nbsp;
                </td>
                       <td>
              &nbsp;  &nbsp;
                </td>
          
        </tr>
    </table>

 
   
 
    <table style="width:90%; height: 50px; border:2px solid;border-radius:8px;font-size: 12px;border-color: #D1D1D1; font-family: Arial, Helvetica, sans-serif" >
        <tr >
        	              <td>
             &nbsp;  &nbsp;
                </td>
                      
            <td style="text-align: left;"> 
               <b> VG-18 </b> <br> vineet to vishal  
               </td>
                             <td>
          &nbsp;  &nbsp;
                </td>
              <td>
                <img alt="" src=""/>
                </td>
                         <td>
              &nbsp;  &nbsp;
                </td>
                       <td>
              &nbsp;  &nbsp;
                </td>
          
        </tr>
    </table>

 
  </div>

  <br />
</div>
    </td></tr>
 
</table>
</div>
</html>



            </td>
             <td >
              &nbsp;  &nbsp;  
            </td>
        </tr>
     </table>
</body>
</html>


</body>
</html>
